body {
  background-color: #edeae2;
  margin: auto;
  background-image: url("../asset/egg3.png");
}

/* Styling -- Header section  */
header {
  width: 100%;
  background-color: #b1d4ce;
  color: #423e4d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#logo {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-family: "Pacifico", cursive;
}
.flip:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.title:hover {
  color: #f0cf7e;
}

#titleProject {
  font-family: "Fredoka One", cursive;
}

nav img {
  height: 120px;
}

nav h1,
nav ul {
  display: inline-block;
}

.fa-egg {
  padding: 3px;
}
.navlink {
  list-style-type: none;
  padding-right: 10px;
  float: right;
  height: 30px;
  width: 80px;
  background-color: #f0cf7e;
  margin-right: 50px;
  margin-top: 20px;
  text-align: center;
  padding-top: 8px;
  border-radius: 10px;
  font-size: bold;
  font-family: "Fredoka One", cursive;
  color: #423e4d;
}

.navlink:hover {
  background-color: wheat;
}

/* Main section */
main {
  display: flex;
  justify-content: center;
}

/* post group section */
.postGroup {
  width: 22%;
  height: 80vh;
  float: left;
  margin: 15px;
  padding-right: 15px;
  opacity: 95%;
}

#group1 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

#group4 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

#group3 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

#group2 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

/* posts container section */
.postsContainer {
  max-height: 91%;
  overflow-y: auto;
}

/* post header section */
.postGroupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.postGroupHeader * {
  margin: 0 10px;
}

/* Post section */
.post {
  width: 95%;
  margin: 10px;
  background-color: #d1e3e5;
  padding: 0.3vw;
  border-radius: 10px;
  font-family: "Balsamiq Sans", cursive;
  opacity: 100%;
  z-index: 0.8;
}

/* post section ---option*/
.postOption {
  padding: 5px;
  text-align: right;
}

.postOption button {
  display: inline-block;
}

.deadline {
  display: inline-block;
  font-weight: bold;
  color: #834825;
  margin: auto;
  font-size: large;
  font-weight: bold;
}

/* option logo */
.fa-check {
  color: green;
}
.fa-trash {
  color: red;
}
/* post section ---content*/
.content {
  padding: 0 8px;
}

/* section prompt add post */
#promptAddPost {
  width: 400px;
  top: 33%;
  padding: 20px;
  position: fixed;
  background-color: whitesmoke;
}

#promptAddPost p,
form div {
  text-align: center;
}

.inputCategory {
  margin: 20px 10px;
}

#postContent {
  width: 80%;
}

#modal {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
}

.hide {
  display: none;
}

.addNewPostButton {
  background-color: #4b4142;
  color: aliceblue;
  padding: 2px;
  text-align: center;
  border-radius: 20%;
}

.check-card {
  background-color: #4b4142;
  color: aliceblue;
  padding: 8px;
  text-align: center;
  border-radius: 45%;
}

.edit-card {
  background-color: #4b4142;
  color: aliceblue;
  padding: 8px 8px;
  text-align: center;
  border-radius: 45%;
}

.delete-card {
  background-color: #fa4c24;
  color: aliceblue;
  padding: 8px;
  text-align: center;
  border-radius: 45%;
}

#group1Name{
  font-size: medium;
  font-family: "Pacifico", cursive;
  margin: auto;
  padding: auto;
}
#group1Name:hover{
  color: #ffffff;
  font-size: xx-large;
  z-index: 1;
}

#group2Name{
  font-size: medium;
  font-family: "Pacifico", cursive;
  margin: auto;
  padding: auto;
}
#group2Name:hover{
  color: #ffffff;
  font-size: xx-large;
  z-index: 1;
}
#group3Name{
  font-size: medium;
  font-family: "Pacifico", cursive;
  margin: auto;
  padding: auto;
}
#group3Name:hover{
  color: #ffffff;
  font-size: xx-large;
  z-index: 1;
}
#group4Name{
  font-size: medium;
  font-family: "Pacifico", cursive;
  margin: auto;
  padding: auto;
}
#group4Name:hover{
  color: #ffffff;
  font-size: xx-large;
  z-index: 1;
}
.postGroupHeader img{
  width: 100px;
  z-index: 1;
}

.postGroupHeader img:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 120px;
}