body {
  background-color: #edeae2
  ;
  margin: 0px;
  background-image: url('../asset/egg3.png');
}

/* Styling -- Header section  */
header {
  width: 100%;
  background-color: #b1d4ce;
  color: #423e4d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}



#logo:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
nav img {
  height: 50px;
}

nav h1,
nav ul {
  display: inline-block;
}

.title:hover{
color: #834825
;
}

.fa-egg {
  padding: 0 3px;
}
.navlink {
  list-style-type: none;
  padding-right: 10px;
  float: right;
  height: 30px;
  width: 80px;
  background-color: yellow;
  margin-right: 50px;
  margin-top: 20px;
  text-align: center;
  padding-top: 8px;
  border-radius: 10px;
  font-size: bold;
}

.navlink:hover {
  background-color: wheat;
}

/* Main section */
main {
  display: flex;
  justify-content: center;
}

/* post group section */
.postGroup {
  width: 22%;
  height: 80vh;
  float: left;
  margin: 15px;
  padding-right: 15px;
}

#group1 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

#group4 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

#group3 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

#group2 {
  background-color: #f0cf7e;
  border-radius: 15px;
}

/* posts container section */
.postsContainer {
  max-height: 91%;
  overflow-y: auto;
}

/* post header section */
.postGroupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.postGroupHeader * {
  margin: 0 10px;
}

/* Post section */
.post {
  width: 95%;
  margin: 10px;
  background-color: #d1e3e5;
  opacity: 100%;
  border-radius: 10px;
}

/* post section ---option*/
.postOption {
  padding: 5px;
  text-align: right;
}

.postOption button {
  display: inline-block;
}

.deadline {
  display: inline-block;
  font-weight: bold;
  color: #834825
  ;
  margin: 0;
}

/* option logo */
.fa-check {
  color: green;
}
.fa-trash {
  color: red;
}
/* post section ---content*/
.content {
  padding: 15px;
}
