body {
  background-color: moccasin;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/31/23/15/easter-1297492_960_720.png");
  margin: 0%;
  padding: 0%;
}

/* header {
  width: 100%;
  background-color: red;
  text-align: center;
}

.navbar ul {
  display: inline-block;
  background-color: yellow;
  list-style: none;
  text-align: center;
  width: 10px;
  float: right;
}

h1 {
  background-color: gray;
}

.navbar img {
  height: 50px;
} */

.navbar {
  width: 100%;
  margin-top: 0%;
  background-color: rgb(197, 187, 197);
  height: 80px;
}

.navbar h1 {
  float: left;
  height: 5px;
  /* width: 20px; */
  margin-left: 20px;
}

.navbar #about {
  float: right;
  height: 30px;
  width: 80px;
  background-color: yellow;
  margin-right: 50px;
  margin-top: 20px;
  text-align: center;
  padding-top: 8px;
  border-radius: 10px;
  font-size: bold;
}

.navbar #about:hover {
  background-color: wheat;
}

.navbar #a {
  text-align: center;
  margin-top: 10px;
}

main {
  position: flex;
  background-color: gray;
  justify-self: center;
}
main div {
  width: 20%;
  height: 500px;
  float: left;
  margin: 15px;
  overflow-y: auto;
  opacity: 80%;
}

#group1 {
  background-color: blue;
}

#group4 {
  background-color: yellow;
}

#group3 {
  background-color: green;
}

#group2 {
  background-color: orange;
}

.post {
  width: 90%;
  background-color: lightblue;
  height: 20%;
  opacity: 100%;
}
