body {
  background-color: moccasin;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/31/23/15/easter-1297492_960_720.png");
  margin:0px;
}


/* Styling -- Header section  */
header{
  width:100%;
  background-color:red;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#logo{
  display:flex;
  align-items:center;
  font-size:1.5em;
}

nav img{
  height:50px;
}

nav h1,nav ul{
  display:inline-block;
}
.fa-egg{
  padding:0 3px;
}
.navlink{
  list-style-type: none;
  padding-right:10px;
    float: right;
    height: 30px;
    width: 80px;
    background-color: yellow;
    margin-right: 50px;
    margin-top: 20px;
    text-align: center;
    padding-top: 8px;
    border-radius: 10px;
    font-size: bold;
  }
  
.navlink:hover {
    background-color: wheat;
  }


/* Main section */
main{
  display:flex;
  justify-content:center;
}

/* post group section */
.postGroup{
  width:22%;
  height: 500px;
  float:left;
  margin:15px;
  padding-right:15px;
}

#group1{
  background-color:blue;
}

#group4{
  background-color:yellow;
}

#group3{
  background-color:green;
}

#group2{
  background-color:orange;
}

/* posts container section */
.postsContainer{
  max-height:91%;
  overflow-y: auto;
}

/* post header section */
.postGroupHeader{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height: 30px;
}

.postGroupHeader *{
  margin: 0 10px;
}

/* Post section */
.post{
  width:95%;
  margin:10px;
  background-color:lightblue;
  opacity:100%;
}

/* post section ---option*/
.postOption{
  padding:5px;
  text-align:right;
}

.postOption button{
  display:inline-block;  
}

/* post section ---content*/
.content{
  padding:0 8px;
}




